* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #101010;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}
body {
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s 0.1s ease-out;
}

.main-color {
    color: #efefef;
}

.secondary-color {
    color: #a0a0a0;
}
h1,
h2,
h3 {
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-right: -0.2em;
    text-transform: uppercase;
    line-height: 2em;
}

h1 {
    margin-top: -0.3em;
    font-size: 3em;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
    line-height: 1.4em;
}

h2 {
    font-size: 1em;
}

a {
    letter-spacing: 0.2em;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 20px));
    text-align: right;
}

.container {
    flex-flow: row nowrap;
    justify-content: space-around;
}

.center {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preview-container {
    position: relative;
    display: block;
    text-align: center;
}

#preview-canvas {
    position: relative;
    width: 35vh;
    border: 5px solid white;
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(calc(100% + 20px));
    margin-bottom: -0.6em;
}

.glsl-canvas {
    position: absolute;
    display: block;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#source {
    margin-bottom: 10px;
    display: block;
}

/* Minimum aspect ratio */
@media (max-aspect-ratio: 6/5) {
    .header {
        position: relative;
        transform: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .controls {
        position: relative;
        transform: none;
        text-align: center;
        margin-top: 20px;
    }

    html,
    body {
        height: auto;
    }

    #preview-canvas {
        width: 30vh;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 0.6em;
    }

    a {
        font-size: 1.2em;
    }
}
